.custom-col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.custom-col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.custom-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
}
.custom-col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.custom-col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.custom-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}
.custom-col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.custom-col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.custom-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
}
.custom-col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.custom-col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.custom-col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
}

.custom-pa-pm {
    margin: 0 0.150rem 0.3rem;
    padding: 0;
}

.custom-col-auto {
    width: auto;
    flex: 0 0 auto;
}

.custom-btn-size {
    --bs-btn-line-height:1;
}