<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main id="main" class="main" data-page="product-reg-page" style="display: none">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-item">상품관리</li>
                <li class="breadcrumb-item active">상품등록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">상품등록</h5>

                        <!-- General Form Elements -->
                        <form class="needs-validation" id="productRegBtn" novalidate>
                            <div class="row mb-3">
                                <label for="prpProductName" class="col-sm-2 col-form-label">상품명</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="prpProductName" id="prpProductName" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductVendor" class="col-sm-2 col-form-label">거래처</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="prpProductVendor" id="prpProductVendor"
                                                aria-label="Floating label select example" required>
                                            <option selected disabled value="">거래처</option>
                                            <option value="블랙베리">블랙베리</option>
                                            <option value="2">테스트2</option>
                                            <option value="3">테스트3</option>
                                        </select>
                                        <label for="prpProductVendor">거래처</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductCategory" class="col-sm-2 col-form-label">카테고리</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="prpProductCategory" id="prpProductCategory"
                                                aria-label="Floating label select example" required>
                                            <option selected disabled value="">카테고리</option>
                                            <option value="반팔티">반팔티</option>
                                            <option value="2">긴팔</option>
                                            <option value="3">빤쓰</option>
                                        </select>
                                        <label for="prpProductCategory">카테고리</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductSize" class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="prpProductSize" id="prpProductSize"
                                                aria-label="Floating label select example" required>
                                            <option selected disabled value="">사이즈</option>
                                            <option value="L">L</option>
                                            <option value="2">M</option>
                                            <option value="3">S</option>
                                        </select>
                                        <label for="prpProductSize">사이즈</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductQuantity" class="col-sm-2 col-form-label">수량</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" name="prpProductQuantity" id="prpProductQuantity" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductOriginPrice" class="col-sm-2 col-form-label">가격</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="prpProductOriginPrice" id="prpProductOriginPrice" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary float-end" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">등록</font></font></button>
                            </div>
                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
</html>