<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main id="main" class="main" data-page="product-reg-page" style="display: none">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-item">상품관리</li>
                <li class="breadcrumb-item active">상품등록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">상품등록</h5>

                        <!-- General Form Elements -->
                        <form>
                            <div class="row mb-3">
                                <label for="prpProductName" class="col-sm-2 col-form-label">상품명</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="prpProductName" id="prpProductName">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductVendor" class="col-sm-2 col-form-label">거래처</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="prpProductVendor" id="prpProductVendor"
                                                aria-label="Floating label select example">
                                            <option selected>거래처</option>
                                            <option value="1">테스트</option>
                                            <option value="2">테스트2</option>
                                            <option value="3">테스트3</option>
                                        </select>
                                        <label for="prpProductVendor">거래처</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductStyle" class="col-sm-2 col-form-label">종류(스타일)</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="prpProductStyle" id="prpProductStyle"
                                                aria-label="Floating label select example">
                                            <option selected>종류(스타일)</option>
                                            <option value="1">반팔티</option>
                                            <option value="2">긴팔</option>
                                            <option value="3">빤쓰</option>
                                        </select>
                                        <label for="prpProductStyle">종류(스타일)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductStyle" class="col-sm-2 col-form-label">사이즈</label>
                                <div class="col-sm-10">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="prpProductSize" id="prpProductSize"
                                                aria-label="Floating label select example">
                                            <option selected>사이즈</option>
                                            <option value="1">L</option>
                                            <option value="2">M</option>
                                            <option value="3">S</option>
                                        </select>
                                        <label for="prpProductStyle">사이즈</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductQuantity" class="col-sm-2 col-form-label">수량</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" name="prpProductQuantity" id="prpProductQuantity">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="prpProductOriginPrice" class="col-sm-2 col-form-label">가격</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="prpProductOriginPrice" id="prpProductOriginPrice">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary float-end" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">등록</font></font></button>
                            </div>
                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
</html>